name: GitHub Metrics
on:
  schedule: [{cron: "0 * * * *"}] # Runs every hour
  workflow_dispatch:
  push: {branches: ["main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: dill-lk
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: UTC
