name: Minimal Metrics
on:
  schedule: [{cron: "0 */12 * * *"}]
  workflow_dispatch:
  push: {branches: ["main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: dill-lk
          template: classic
          # Only show the header (name/contributions) and nothing else
          base: header, metadata
          config_timezone: Asia/Colombo
          filename: github-metrics.svg
          
